/*kaavioiden ulkoasu*/

/* piechart:
        backgroundColor: { fill: 'transparent'},
        titleTextStyle: { color: 'white' },
        legend: { textStyle: {color: 'white'}}

   columnchart:
        hAxis: {
            title: 'Ikä',
            format: 'string',
            titleTextStyle: { color: '#dbdbdb' },
            gridlines: { color: 'white', count: -1},
            textStyle: { color: '#dbdbdb'},
        },
        vAxis: {
            title: 'Lukumäärä',
            titleTextStyle: { color: '#dbdbdb' },
            baselineColor: '#dbdbdb',
            textStyle: { color: '#dbdbdb'},
        },
        backgroundColor: { fill: 'transparent'},
        titleTextStyle: { color: 'white' },
        legend: { position: 'none'},
        bar: {groupWidth: '80%'},
        colors: ['#38d960'],

   barchart:
        hAxis: {
            gridlines: { color: 'white', count: -1},
            textStyle: { color: '#dbdbdb'},
        },
        vAxis: {
            baselineColor: '#dbdbdb',
            textStyle: { color: '#dbdbdb'},
        },
        backgroundColor: { fill: 'transparent'},
        titleTextStyle: { color: 'white' },
        legend: { position: 'none'},
        bar: {groupWidth: '80%'},
        colors: ['#38d960'],

*/