:root {
    --main-bg-colour: #9fa8da;
    --main-text-colour: black;
    --container-colour: white;
    --border-colour: darkgray;
    --hover-colour: #757de8;
    --hover-highlight-colour: #757de8;
    --hover-highlight-text-colour: black;
    --nav-colour: #3f51b5;
    --nav-link-colour: white;
}
#changeThemeButton {
    float:right;
}
h2 {
    display: inline;
}
#haku {
    display: flex;
    max-width: available;
}
#suurennuslasi {
    height: 1.5em;
    width: 1.5em;
    padding: 0.2em;
}
body {
    background-color: var(--main-bg-colour);
    color: var(--main-text-colour);
    font-family: 'Roboto', "Roboto Regular";
}
a {
    color: var(--main-text-colour);

}
nav {
    color: var(--nav-colour);
    background-color: var(--nav-colour);
    border: 1px solid var(--border-colour);
    border-radius: 0.2em;
    padding: 0.7rem;
    padding-bottom: 0.5rem;
}
nav a {
    margin: 0.5em;
    padding: 0.4em;
    transition: 0.3s;
    font-size: 1.2em;
    font-weight:bold;
    color: var(--nav-link-colour);
    text-decoration: none;

}
nav a:hover{
    color: var(--hover-highlight-text-colour);
    background-color: var(--hover-highlight-colour);
    border-radius: 0.2em;
    transition: 0.3s;
}
.flexContainer {
    display: flex;
    flex-direction: row;
}
.flexUnit {
    background-color: var(--container-colour);
    border-radius: 0.2em;
    margin-top: 0.5em;
    border: solid var(--border-colour) 1px;
}
#postiNumeroLinkit {
    background-color: var(--container-colour);
    padding-right: 2em;
    padding-left: 1em;
    border-radius: 1em;
    max-width: 100%;
}
.leftNav {
    margin-right: 0.5em;
    width: 15em;
    max-width: 15em;
    min-width: 15em;

}
#leftNav {
    margin-right: 0.5em; 
}
.leftNav a {
    text-decoration: none;
    margin-bottom: 0.2em;
    padding: 0.5em;
    color: var(--main-text-colour);
    display: block;
    transition: 0.3s;
    font-size: 0.9em;
    text-decoration: none;

}
.leftNav a:hover {
    color: var(--hover-highlight-text-colour);
    background-color: var(--hover-highlight-colour);
    border-radius: 5px;

}
#bannerImg {
    height: auto;
    width: 100%;
    border-radius: 1em;
}
#mainTitle {
    margin-left: 4em;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}
h1 {
    padding-top: 0.1em;
}
#content {
    padding: 0.5em;
    width: 100%;
}
.mainTitle {
    position: absolute;
    top: 8em;
    left: 1em;
}
.hint
{
    font-size: 0.6em;
}
footer {
    background-color: var(--container-colour);
    border-radius: 0.2em;
    margin-top: 0.5em;
    padding: 0.5em;
    padding-bottom: 0.3em;
    text-align: center;
    border: solid 1px var(--border-colour);
}
th {
    text-align: left;
    background-color: var(--nav-colour);
    color: var(--nav-link-colour);
}
 table, th, td {
    border: 1px solid var(--border-colour);
    border-collapse: collapse;
    padding: 0.25em;
 }
tr:nth-of-type(odd) {
    background-color: var(--main-bg-colour);
}
.collapsible {
  text-indent: 1%;
  font-size: 1em;
  background-color: var(--container-colour);
  margin-top: 0.6em;
  cursor: pointer;
  padding: 0.3em;
  width: 90%;
  text-align: left;
  outline: none;
  color: var(--main-text-colour);
  border: 0.1em solid var(--border-colour);
  border-radius: 0.2em;
}
.active, .collapsible:hover {
  background-color: var(--hover-highlight-colour);
  color: var(--hover-highlight-text-colour);
}
.collapsible:after {
  content: "\25B8";
  float: left;
}
.active:after {
  content: "\25BE";
}
.kaaviot {
  width: 90%;
  background-color: transparent;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.1s ease-out;
}
.piechart{
  margin: 0.5em;
  width: 40%;
  height: 20em;
  float: left;
}
.columnchart{
  width: 50%;
  height: 30em;
  float: right;
}
#chart_taloudet1{
  width: 50%;
  height: 30em;
  float: left;
}
.barchart{
  width: 100%;
  height: 50em;
  float: left;
}
.infopanel{
  float: left;
  padding-left: 1em;
  padding-right: 1em;
  margin: 0.5em;
  background-color: var(--container-colour);
  color: var(--main-text-colour);
  border: 0.1em solid var(--border-colour);
  border-radius: 0.2em;
}
#kartta{
  border: none;
  width: 50em;
  max-width: 98%;
  height: 31.25em;
  float: left;
}
.asc:after {
  content: " \25B4";
}
.desc:after {
  content: " \25BE";
}
#content h1 {
    padding: 0; !important;
    background-color: var(--nav-colour);
    color: var(--nav-link-colour);
    margin: 0; !important;
    padding: 0.3rem; !important;
    padding-left: 1rem;
    position: relative;
    top: -1rem;
    left: -1rem;
    margin-right: -1rem;
}
#leftNav h4 {
    background-color: var(--nav-colour);
    color: var(--nav-link-colour);
    display: block;
    margin: 0; !important;
    padding: 3%;
    margin-bottom: 1em;
}
#mapFrame{
    /*max-width:100%; !important;*/
    max-width: 97%;
    padding-left: 0.4em;
}


@media screen and (max-width: 600px) {
    /*teema pienille näytöille*/
    .flexContainer {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        width: 100%;
        min-width: 100%;
        padding-right: 0.5em;
    }

    .flexUnit {
        width: 100%;
        max-width: 100%;
        padding-right: 0;
        margin-right: 0;
    }

    #leftNav {
        width: 100%;
        margin-right: 0;
        padding-right: 0;
    }

    nav a {
        margin: 0.1em;
    }

    select {
        max-width: 100%;
    }

    #content {
        padding: 0;
        margin-right: 0;
        width: 100%;
    }

    button {
        margin: 0.5em;
    }

    #kartta{
        height: 15em;
        width: 30em;
        max-width: 97%;
        padding-left: 0.4em;
    }

    .piechart{
        width: 25em;
        height: 15em;
        max-width: 100%;
    }
    .columnchart{
        width: 25em;
        height: 20em;
        float: left;
        max-width: 100%;
    }
    #chart_taloudet1{
        width: 25em;
        height: 20em;
        max-width: 100%;
    }
    .barchart{
        width: 25em;
        height: 30em;
        max-width: 100%;
    }
    #postiNumeroLinkit {
        padding-right: 0;
    }
    #content h1 {
        top: 0; !important;
        left: 0; !important;
        margin-right: 0; !important;
        border-radius: 2px;
    }
    #leftNav h4 {
        margin-bottom: 0;
    }
    p {
        padding-left: 1%;
        padding-right: 1%;
    }
    .kaaviot {
        width: 94%;
    }
}
