:root {
    --main-bg-colour: black;
    --main-text-colour: ghostwhite;
    --container-colour: #282c34;
    --border-colour: ghostwhite;
    --hover-colour: #f1f1f1;
    --hover-highlight-colour: ghostwhite;
    --hover-highlight-text-colour: black;

}
#haku {
    display: flex;
}
#suurennuslasi {
    height: 1.5em;
    width: 1.5em;
    padding: 0.2em;
}
body {
    background-color: var(--main-bg-colour);
    color: var(--main-text-colour);
    font-family: 'Open Sans', sans-serif;
}
a {
    color: var(--main-text-colour);
}
nav {
    color: var(--main-text-colour);
    background-color: var(--container-colour);
    border:1px;
    border-color: var(--border-colour);
    border-radius: 1em;
    padding: 1em;
}
nav a {
    margin: 0.5em;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 0.5em;
    transition: 0.3s;
    font-size: 1.2em;
}
nav a:hover{
    color: var(--hover-highlight-text-colour);
    background-color: var(--hover-highlight-colour);
    border-radius: 5px;
    transition: 0.3s;
}
.flexContainer {
    display: flex;
    flex-direction: row;
}
.flexUnit {
    background-color: var(--container-colour);
    border-radius: 1em;
    margin-top: 0.5em;
}
#postiNumeroLinkit {
    background-color: var(--container-colour);
    padding-right: 2em;
    padding-left: 1em;
    border-radius: 1em;
}
#leftNav {
    margin-right: 0.5em;
}
.leftNav a {
    border-top: 1px;
    border-bottom: 1px;
    border-color: red;
    text-decoration: none;
    margin-bottom: 0.2em;
    padding: 0.5em;
    color: var(--main-text-colour);
    display: block;
    transition: 0.3s;
    font-size: 0.9em;
}
.leftNav a:hover {
    color: var(--hover-highlight-text-colour);
    background-color: var(--hover-highlight-colour);
    border-radius: 5px;

}
#bannerImg {
    height: auto;
    width: 100%;
    border-radius: 1em;
}
#mainTitle {
    margin-left: 4em;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}
h1 {
    padding-top: 0.1em;
}
#content {
    padding: 0.5em;
    width: 100%;
}
.mainTitle {
    position: absolute;
    top: 8em;
    left: 1em;
}
.hint
{
    font-size: 0.6em;
}
footer {
    background-color: var(--container-colour);
    border-radius: 1em;
    margin-top: 0.5em;
    padding: 0.5em;
    padding-bottom: 0.3em;
    text-align: center;
}
th {
    text-align: left;
}
 table, th, td {
    border: 1px solid ghostwhite;
    border-collapse: collapse;
    padding: 0.25em;
 }

.collapsible {
  text-indent: 10px;
  background-color: #808b96;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  cursor: pointer;
  padding: 0.3em;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  color: white;
  font-size: 1em;

}
.active, .collapsible:hover {
  background-color: #a4aab3;
  color: #e6e6e6;
}
.collapsible:after {
  content: "\23F5";
  float: left;
}

.active:after {
  content: "\23F7";
}
.kaaviot {
  padding: 0 18px;
  background-color: transparent;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.1s ease-out;
}
.piechart{

}
.barchart{

}
.infopanel{
  float: left;
  padding-left: 1em;
  padding-right: 1em;
  border: solid;
  border-color: black;
  border-width: 2px;
}