body {
    background-color: black;
    color: ghostwhite;
    font-family: 'Open Sans', sans-serif;
}
a {
    color: ghostwhite;
}
button {
    color:pink;
    background-color: pink;
}
nav {
    color: black;
    background-color: red;
    border:1px;
}
.flexContainer {
    display: flex;
    flex-direction: row;
    padding: 2em;
}
.flexUnit {
    margin: 2em;
    background-color: #282c34;
    padding: 3em;

}
#postiNumeroLinkit {
    background-color: #282c34;
    padding-right: 2em;
    padding-left: 1em;
}
.leftNav a {
    border-top: 1px;
    border-bottom: 1px;
    border-color: red;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.leftNav a:hover {
    color: #f1f1f1;
}
#bannerImg {
    max-height: 20em;
}