{% extends "base.html" %}
{% block title %}Tietoa{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h1>Tietoja</h1>
        Jyväskylän yliopiston kurssin harjoitustyö.  Tekijät: Tuomas Kontio, Jari Lindroos, Miikka Ruohoniemi ja Ossi Vanhala.
    <p>Datan lähteenä käytetty Tilastokeskuksen postinumeroalueittainen avoin tieto -tietokantaa (PAAVO).
        Lisenssi <a href="https://creativecommons.org/licenses/by/4.0/deed.fi">Creative Commons Nimeä 4.0</a>.</p>
    <p>Jyväskylän koulujen oppilasmäärien lähteenä on <a href="https://www.jyvaskyla.fi/opetus/perusopetus-jyvaskylassa/oppilasmaarat-kouluittain">Jyväskylän kaupungin tarjoama data</a>.
        Koulujen osoitteiden lähde on <a href="https://www.jyvaskyla.fi/opetus/perusopetus-jyvaskylassa/koulut">Jyväskylän kaupunki</a>.
    <p>Aluiden yritysten datan lähde <a href="https://www.avoindata.fi/data/fi/dataset/yritykset">Suomen Yritys- ja yhteisötietojärjestelmän (YTJ) avoimet tiedot CSV-tiedostona</a>.
        Lisenssi <a href="https://creativecommons.org/licenses/by/4.0/deed.fi">Creative Commons Nimeä 4.0</a>.</p>
    <p>Sivusto käyttää cookieita (evästeitä) ainoastaan teeman tallentamiseen. Cookie on sisällöltään theme=dark tai theme=light.
        Muuhun käyttöön sivu ei tallenna mitään käyttäjän laitteelle.</p>
    <p>Projektin <a href="https://github.com/JKLZip/JKLZip">Github -sivu.</a></p>

{% endblock %}
