<!DOCTYPE html>
<html lang="fi">
    <head>

        <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <meta charset="utf-8" />

        <!-- Load React. -->
        <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
        <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>


        <title>JKLZip</title>
    </head>

    <body>
    <header>
        <div id="bannerContainer">
            <h1 id="mainTitle" class="mainTitle">JKLZip</h1>
            <img src="{{ url_for('static', filename='banner.JPG') }}" id="bannerImg">
        </div>
        <div id="navbarContainer">
            <nav>
                <a href="/">Etusivu</a>
                <a href="/ranking">Ranking</a>
                <a href="/about">Tietoa</a>
            </nav>
        </div>
    </header>
    <div class="flexContainer">
    <div class="flexUnit" id="leftNav">
        <div id="postiNumeroLinkit" class="leftNav">
            <h4>Alue</h4>
            <div class="hint"> Järjestetty postinumeron mukaan.</div>
            {% for alue in alueet %}
                <a class="alueLinkki" href="/alue?pnro={{ alue['id'] }}">{{ alue['nimi'] }} ({{ alue['id'] }})</a>
            {% endfor %}
        </div>
    </div>
            <div id="root"></div>
    <div class="flexUnit" id="content">
        <script src="{{ url_for("static", filename="chart.js") }}" type="module"></script>
        <div id="content"> {% block content %} {% endblock %}</div>
    </div>
    </div>
    <footer id="footer">
        Tekijät: Tuomas Kontio, Jari Lindroos, Miikka Ruohoniemi ja Ossi Vanhala.
        <p>Datan lähteenä käytetty Tilastokeskuksen postinumeroalueittainen avoin tieto -tietokantaa (PAAVO).
        Lisenssi Creative Commons Nimeä 4.0 </p>
    </footer>
    </body>
</div>
</html>
