<!DOCTYPE html>
<html lang="fi">
    <head>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" id="theme">
        <meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">

        <script type="text/javascript">
           var alueet = {{ alueet|tojson }};
        </script>
        <script type="module" src="{{ url_for('static', filename='search.js') }}"></script>
        <script type="module" src="{{ url_for('static', filename='collapsible.js') }}"></script>
        <title>JKLZip : {% block title %} {% endblock %}</title>
    </head>

    <body>
    <header>
        <div id="bannerContainer">
            <!--<h1 id="mainTitle" class="mainTitle">JKLZip</h1>
            <img src="{{ url_for('static', filename='banner.JPG') }}" id="bannerImg">-->
        </div>
        <div id="navbarContainer">
            <nav>
                <h2><a href="/">JKLZip</a></h2>
                <a href="/ranking" >Vertailu</a>
                <a href="/about">Tietoa</a>
                <button id="changeThemeButton">Vaihda Teema</button>
                <script src="{{ url_for("static", filename="scripts.js") }}"></script>

            </nav>
        </div>
    </header>
    <div class="flexContainer">
    <div class="flexUnit" id="leftNav">
        <h4>Aluekohtaiset tilastot</h4>
        <div id="postiNumeroLinkit" class="leftNav">
            <h4 id="alueet_menu">Aluekohtaiset tilastot</h4>
            <div id="menu_elements">
                <!--<div class="hint"> Järjestetty postinumeron mukaan.</div>-->
                <div id="haku">
                    <img id="suurennuslasi" src="{{ url_for("static", filename="suurennuslasi.svg") }}">
                    <form><input type="text" id="input" placeholder="Hae aluetta"></form>
                </div>
                <div id="alueet"></div>
            </div>
        </div>
    </div>
            <div id="root"></div>
    <div class="flexUnit" id="content">
        <div id="content"> {% block content %} {% endblock %}</div>
    </div>
    </div>
    <footer id="footer">
        © JKLZip 2019
        <p>Projektin <a href="https://github.com/JKLZip/JKLZip">Github -sivu.</a></p>
    </footer>
    </body>
</div>
</html>
