</span>{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
        <script type="text/javascript">
            var selitteet = {{ selitteet|tojson }};
            var aluedata = {{ data|tojson }};
            function show_hide(elementID) {
                var x = document.getElementById(elementID);
                if (x.style.display === "none") {
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }
        </script>
        <script type="module" src="{{ url_for("static", filename="charts.js") }}"></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <div id="root"></div>
        <div id="data">
            <h2>{{ data['nimi'] }} ({{ data['id'] }})</h2>
            <div id="ikarakenne">
                <h3 onclick="show_hide('chart_ikarakenne')">Ikärakenne</h3>
			    <div id="chart_ikarakenne" style="height: 22em;">
				    <div id="chart_sukupuoli" style="width:40em; height:20em; float:left;"></div>
				    <div id="chart_ikajakauma" style="width:40em; height:20em; float:left;"></div>
			    </div>
            </div>
            <div>
		        <h3 onclick="show_hide('chart_tuloluokat')">Tuloluokat</h3>
                <div>

                </div>
            </div>
            <h3 onclick="show_hide('chart_koulutus')">Koulutus</h3>
            <div>

            </div>
            <h3 onclick="show_hide('chart_vaesto')">Väestön jakautuminen</h3>
            <div>

            </div>
            <h3 onclick="show_hide('chart_asuminen')">Asuminen</h3>
            <div>

            </div>
            <h3 onclick="show_hide('chart_taloudet')">Taloudet</h3>
            <div>

            </div>
            <h3 onclick="show_hide('chart_tyopaikat')">Työpaikat</h3>
            <div>

            </div>
        </div>
{% endblock %}
