{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h1>Ranking</h1>
    <div id="rankingContainer">
        <script src="{{ url_for("static", filename="ranking.js") }}"></script>
        <div class="hint">Järjestä klikkaamalla otsikkoa.</div>
        <table class="ranking" id="ranking">
            <tr><th onclick="sortRanking(0)">Alueen nimi</th> <th onclick="sortRanking(1)">Postinumero</th></tr>
            {% for alue in alueet %}
                <tr><td>{{ alue["nimi"] }}</td> <td>{{ alue["id"]}}</td></tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}