{% extends "base.html" %}
{% block title %}Ranking{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h1>Alueiden vertailu</h1>
        <script type="text/javascript">
        var data = {{ data|tojson }};
        var selitteet = {{ selitteet|tojson }};
        </script>

    <div id="rankingContainer">
        <div class="selectorContainer">
            <select id="fieldSelector"></select>
        </div>
        <iframe onload="getMap()" id="mapFrame" src="/map" style="border:none;height:500px;width:800px;"></iframe>
        <div class="hint">Järjestä klikkaamalla otsikkoa.</div>
        <table class="ranking" id="rankingTable">
        </table>
        <script src="{{ url_for("static", filename="ranking.js") }}"></script>
    </div>
{% endblock %}
