{% extends "base.html" %}
{% block title %}Ranking{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h1>Ranking</h1>
        <script type="text/javascript">
        var data = {{ data|tojson }};
        var selitteet = {{ selitteet|tojson }};
        </script>

    <div id="rankingContainer">
        <div class="hint">Järjestä klikkaamalla otsikkoa.</div>
        <select id="fieldSelector"></select>
        <table class="ranking" id="rankingTable">
            <tr id="headers">
            </tr>
        </table>
        <script src="{{ url_for("static", filename="ranking.js") }}"></script>

    </div>
{% endblock %}